# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bensa\OneDrive - University of Essex\Year 2\CE218 - Game Programming\Game Programming Assignment\Assignment 2 Submission Files\Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
